.heading {
    color: white;
    position: relative;
    text-align: center;
    font-size: 55px;
    margin: auto;
    box-shadow: 0 3px 16px teal;
    max-width: 1200px;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    /* min-width: 100%;
    min-height: 100%; */
}

.button-options {
    position: relative;
    margin-top: 250px;
    margin: "auto";
    font-size: 40px;
    text-align: center;

    color: white;
    border: 2px solid white;
    border-radius: 10px;
    width: 170px;
    float: left;
}

.glow-on-hover {
    width: 250px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    position: relative;
    z-index: 0;
    background: turquoise;
    border-radius: 10px;
    margin-top: 180px;
    margin-left: 40%;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, violet, navy, teal, purple, #00ffd5, #002bff, #7a00ff, violet, teal);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: none;
}

.glow-on-hover:active:after {
    background: blue;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}